.about {
  padding-top: 12rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  & &-text {
    padding-top: 3rem;
    padding-left: 7rem;
    box-sizing: border-box;

    p {
      opacity: .7;

      &:first-child {
        font-weight: bold;
        margin-bottom: 3.5rem;
      }

      &:not(:first-child) {
        letter-spacing: .05rem;
        line-height: 1.8;
      }
    }
  }

  & &-button {
    height: 4.5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color1;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: $transition;
    margin-top: 7rem;

    &:hover {
      background: $color3;
    }
  }
}