.header {
  position: absolute;
  top: 9rem;
  width: 100%;
  z-index: 10;

  & &-logo {
    svg {
      fill: white;
      width: 3.7rem;
      height: 4.7rem;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}