html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: black;
  margin: 0;
  font-family: "Roboto", Arial;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", Arial;
  margin: 0;
}

.container {
  max-width: 117rem;
  margin: auto;
  width: 100%;
}
