html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: black;
  margin: 0;
  font-family: "Roboto", Arial;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", Arial;
  margin: 0;
}

.container {
  max-width: 117rem;
  margin: auto;
  width: 100%;
}

.header {
  position: absolute;
  top: 9rem;
  width: 100%;
  z-index: 10;
}

.header .header-logo svg {
  fill: white;
  width: 3.7rem;
  height: 4.7rem;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-toggle {
  height: 5.3rem;
  width: 5.3rem;
  border: 0.3rem solid rgba(255, 255, 255, 0.7);
  padding: 1.3rem 1.1rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.menu .menu-toggle:hover {
  background: #64cbc0;
  border-color: #64cbc0;
}

.menu .menu-toggle span {
  height: .3rem;
  background: white;
  width: 100%;
  display: block;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.landing::before {
  content: "";
  height: 230vh;
  width: 230vw;
  min-height: 200rem;
  min-width: 200rem;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: -webkit-linear-gradient(top, #7a6b7b 10%, #30697d 50%, #7a6b7b 90%);
  background: linear-gradient(to bottom, #7a6b7b 10%, #30697d 50%, #7a6b7b 90%);
}

.landing .landing-content {
  width: 57rem;
  text-align: center;
  padding: 1.1rem;
  box-sizing: border-box;
}

.landing .landing-content h1 {
  text-align: center;
  margin: 0;
}

.landing .landing-title {
  font-size: 6.5rem;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1.2rem;
}

.landing .landing-title::before, .landing .landing-title::after {
  content: "";
  height: .3rem;
  width: calc(100% - 1.6rem);
  opacity: .5;
  background: white;
  display: block;
  margin-left: .2rem;
}

.landing .landing-title::before {
  margin-bottom: 2rem;
}

.landing .landing-title::after {
  margin-top: 2rem;
}

.landing .landing-baseline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem;
  padding-left: .2rem;
  padding-right: 1.3rem;
  margin-top: 2rem;
  box-sizing: border-box;
}

.landing .landing-baseline a {
  text-decoration: none;
  color: #ffffff;
  opacity: .5;
  font-size: 2.5rem;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.landing .landing-baseline a:hover {
  color: #ff2b4a;
}

.about {
  padding-top: 12rem;
}

.about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-text {
  padding-top: 3rem;
  padding-left: 7rem;
  box-sizing: border-box;
}

.about .about-text p {
  opacity: .7;
}

.about .about-text p:first-child {
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.about .about-text p:not(:first-child) {
  letter-spacing: .05rem;
  line-height: 1.8;
}

.about .about-button {
  height: 4.5rem;
  width: 20rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff2b4a;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top: 7rem;
}

.about .about-button:hover {
  background: #002453;
}

.pictos {
  background: #f6f6f6;
  padding: 12.5rem 0;
}

.pictos .pictos-title {
  font-size: 4rem;
  text-align: center;
}

.pictos .pictos-description {
  text-align: center;
  margin-top: 3.5rem;
}

.pictos .pictos-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5rem;
}

.picto {
  width: calc(25% - 1rem);
  height: 27rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picto svg {
  max-width: 4.5rem;
  max-height: 3.5rem;
  fill: white;
}

.picto .picto-title {
  color: #ffffff;
  margin: 0;
  margin-top: 3.5rem;
}

.picto:nth-child(1) {
  background: #10c6fc;
}

.picto:nth-child(2) {
  background: #835aeb;
}

.picto:nth-child(3) {
  background: #002453;
}

.picto:nth-child(4) {
  background: #ff2b4a;
}

.works {
  background: #f6f6f6;
  padding: 12.5rem 0;
}

.works .works-title {
  font-size: 4rem;
  text-align: center;
}

.works .works-description {
  text-align: center;
  margin-top: 3.5rem;
}

.works .works-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5rem;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.work {
  width: calc(25% - 1.2rem);
  height: 27rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.work--big {
  width: calc(50% - 1rem);
}

.work svg {
  max-width: 4.5rem;
  max-height: 3.5rem;
  fill: white;
}

.work .work-title {
  color: #ffffff;
  margin: 0;
  margin-top: 3.5rem;
}

.work:nth-child(1) {
  background: #10c6fc;
}

.work:nth-child(2) {
  background: #835aeb;
}

.work:nth-child(3) {
  background: #002453;
}

.work:nth-child(4) {
  background: #ff2b4a;
}

.work:nth-child(5) {
  background: #835aeb;
}

.work:nth-child(6) {
  background: #002453;
}

.work:nth-child(7) {
  background: #ff2b4a;
}
