$fontserif: "Times new Roman", 'Times', serif;
$font: 'Helvetica', "Arial", sans-serif;

$baseColor: #000;
$secondaryColor: #FDFDFD;

$bp-small: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-large: 1200px;
$bp-desktop-extra-large: 1800px;

